{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}: {{ participant.pseudo }} {% endblock %}
{#{{ particpant.pseudo }}#}
{% block informations %}
    {% if participant.PhotoProfil %}
        <img src="{{ asset('uploads/users/photos/' ~ participant.PhotoProfil) }}" alt="Photo_de_profil" class="img-thumbnail rounded img-fluid" width="216" height="200">
    {% endif %}
    <h1 class="jumbotron-heading"></h1><br/>
{% endblock %}

{% block main %}
    <div class="row d-flex justify-content-center">
    <table class="table w-auto">
        <tr>
            <th scope="row">Nom : </th>
            <td>{{ participant.nom }}</td>
        </tr>

        <tr>
            <th scope="row">Prenom : </th>
            <td>{{ participant.prenom}}</td>
        </tr>

        {%if sortie in app.user.organise %}
        <tr>
            <th scope="row">Telephone : </th>
            <td>{{ participant.telephone}}</td>
        </tr>
        <tr>
            <th scope="row">Email : </th>
            <td>{{ participant.email}}</td>
        </tr>
        {%endif%}
        <tr>
            <th scope="row">Ville de rattachement : </th>
            <td>{{ participant.siteId.nomSite}}</td>
        </tr>
    </table>
    </div>
    <br>

    <a href="{{ path('sortie_list') }}">
        <input type="button" value="Retour" class="btn btn-outline-primary btn-rounded">
    </a>


{%endblock%}