{% extends 'base.html.twig' %}
{% block title %}{{ parent() }}: Page d'accueil{% endblock %}

{% block informations %}
    <h1 class="jumbotron-heading">Bienvenue: {{ app.user.prenom }} {{ app.user.nom }}</h1><br/>
{% endblock %}

{% block main %}

    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom de la sortie</th>
                <th scope="col">Date de sortie</th>
                <th scope="col">Clôture</th>
                <th scope="col">inscrits/places</th>

            </tr>
            </thead>
            <tbody>

            {% for sortie in sorties %}
                <tr>
                    <td> </td>
                    <td>{{ sortie.NomSortie }}</td>
                    <td>{{ sortie.DateDebut|date('d/m/Y H:i:s') }}</td>
                    <td>{{ sortie.DateLimiteInscription|date('d/m/Y H:i:s') }}</td>
                    <td>{{ sortie.inscrits|length }}/{{ sortie.NbInscriptionMax }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}





