{% extends 'base.html.twig' %}

{% block informations%}

    <h4>Date du jour : {{ "now"|date('d/m/Y') }}</h4>
    <h4>Participant: {{ app.user.prenom }}.{{ app.user.nom }}</h4>
    <h4>Nom du Site: {{ app.user.SiteId.NomSite }}</h4>

{% endblock %}

{% block main %}

<h1> </h1>

    <h3>Filtrer les sorties</h3>

    <form action="{{ path('sortie_listRecherche') }}" method="get" class="row">

        <div class="col-sm-6">
            <input type="text"class="form-control mb-3" placeholder="Rechercher une sortie par mot-clé" name="recherche_terme" id="recherche_terme" value="{{ app.request.get('recherche_terme') }}">

            <select class="custom-select mb-3" name="recherche_site" aria-label="Example select with button addon">
                <option selected>Choisir un site</option>
                {% for site in sites %}
                    <option value="{{ site.id }}" {{ (site.id in app.request.get('recherche_site')) ? 'selected' : '' }}>{{ site.nomSite }}</option>
                {% endfor %}
            </select>

            <select class="custom-select mb-3" name="recherche_etat" aria-label="Example select with button addon">
                <option selected>Choisir le statut</option>
                {% for etat in etats %}
                    <option value="{{ etat.id }}" {{ (etat.id in app.request.get('recherche_etat')) ? 'selected' : '' }}>{{ etat.libelle }}</option>
                {% endfor %}
            </select>

            <div class="mb-3">
                <label for="debut">Date de début</label>
                <input class="rounded form-control" type="date" id="debut" name="date_debut" value="{{ app.request.get('date_debut') }}">
                <label for="fin">Date de fin</label>
                <input class="rounded form-control" type="date" id="fin" name="date_fin" value="{{ app.request.get('date_fin') }}">
            </div>
        </div>

        <div class="col-xs-12 col-sm-6">
            <div class="row d-flex flex-column ml-1 col-xs-12 d-inline">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="cb_organisateur" value="{{ app.user.id }}" {% if app.request.get('cb_organisateur') %} checked {% endif %}>
                    <label class="form-check-label">Sorties dont je suis l'organisateur.trice</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="cb_inscrit" value="{{ app.user.id }}" {% if app.request.get('cb_inscrit') %} checked {% endif %}>
                    <label class="form-check-label" >Sorties auxquelles je suis inscrit.e</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="cb_non_inscrit" value="{{ app.user.id }}" {% if app.request.get('cb_non_inscrit') %} checked {% endif %}>
                    <label class="form-check-label" >Sorties auxquelles je ne suis pas inscrit.e</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="cb_passee" {% if app.request.get('cb_passee') %} checked {% endif %}>
                    <label class="form-check-label" >Sorties passées</label>
                </div>
            </div>

            <div class="row d-flex text-center ">
                <div class="col">
                    <input type="submit" class="btn btn-primary mr-1 mt-5 mb-2" value="Rechercher" id="btnRechercher" name="btnRechercher">
                    <a href="{{ path('sortie_list') }}" class="btn btn-primary ml-1 mt-5 mb-2">Réinitialiser</a>
                </div>
            </div>

        </div>
    </form>



    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom de la sortie</th>
                <th scope="col">Date de sortie</th>
                <th scope="col">Clôture</th>
                <th scope="col">inscrits/places</th>
                <th scope="col">Etat</th>
                <th scope="col">Inscrit</th>
                <th scope="col">Organisateur</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>

            {% for sortie in sorties %}
                <tr>
                    <td> </td>
                    <td>{{ sortie.NomSortie }}</td>
                    <td>{{ sortie.DateDebut|date('d/m/Y H:i:s') }}</td>
                    <td>{{ sortie.DateLimiteInscription|date('d/m/Y H:i:s') }}</td>
                    <td>{{ sortie.inscrits|length }}/{{ sortie.NbInscriptionMax }}</td>
                    <td>{{ sortie.etat.libelle }}</td>
                    {% for inscrit in sortie.inscrits %}
                        {% if  app.user.id == inscrit.Id %}
                            <td>inscrit</td>
                        {% endif %}
                    {% endfor%}
                    <td>{{ sortie.organisateur.nom }}</td>
                        <td><a href="{{path ('sortie_detail', {'id' : sortie.id})}}">Afficher</a></td>
                    {% if sortie.inscrits contain(app.user.id)  %}
                        <td> <a href="#">Se désinscrire</a></td>
                    {% elseif sortie.etat.libelle == "Ouvert" %}
                       <td> <a href="{{path ('sortie_inscription', {'id' : sortie.id})}}">S'inscrire</a></td>
                 {% endif %}
                    {% if sortie.etat.libelle == "Créée" %}
{#                        AND sortie.participant.organisateur !=null#}
                        <td><a href="#">Modifier</a> - <a href="#">Publier</a></td>
                    {% endif %}
{#                    {% elseif sortie.etat.libelle == "Ouvert" %}#}
{#                        AND sortie.participant.organisateur !=null#}
{#                        <td><a href="#">Afficher</a> - <a href="#">Annuler</a></td>#}
{#                    {% endif %}#}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
        <a href="{{ path('sortie_creer') }}">
            <input type="button" value="Créer une sortie">
        </a>
    </div>
{% endblock %}